.info {
  width: 95.5%;
  display: flex;
  margin-bottom: 2%;
  gap: 1%;

  .purpleside {
    width: 50%;
    background-color: #563e79ed;
    box-shadow: 0 2px #4b3271;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    .purplesidecont {
      padding: 64px 64px 64px 60px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .texts {
        color: #faf5f0;
        display: flex;
        font-size: 14px;
        font-weight: 500;
        font-family: "Manrope", sans-serif;
        gap: 13px;
      }
    }
    @media only screen and (max-width: 615px) {
      .purplesidecont {
        padding: 25px 30px 25px 30px;
        gap: 20px;
      }
    }
  }

  @media only screen and (max-width: 1000px) {
    .purpleside {
      width: 100%;
      margin-bottom: 2%;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .info {
    flex-direction: column;
  }
}
// Swiper style
.swiper {
  width: 46vw;
  height: 55vh;
  border-radius: 30px;
}
.swiper:hover {
  cursor: grab;
}
@media only screen and (max-width: 1000px) {
  .swiper {
    width: 95.5vw;
    height: 40vh;
  }
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
