.journal-container {
  background-color: #91b1a8;
  width: 95.5%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  .button-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    button {
      margin: 0 5px;
      padding: 10px;
      cursor: pointer;
      position: absolute;
      color: RGB(250, 245, 240);
      font-family: "Dela Gothic One", sans-serif;
      font-size: 18px;
      border-radius: 30px;
      border: 3px solid white;
    }
  }

  .papers-wrapper {
    overflow: hidden;
    width: 600px;
    height: 470px;
    position: relative;

    .papers-container {
      display: flex;
      flex-direction: column;
      position: relative;
      transition: transform 0.5s ease;
    }

    .paper {
      width: 100%;
      height: 405px;
      padding: 100px;
      background-color: white;
      border: 1px solid #ddd;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      position: relative;
      transition: transform 0.5s ease, opacity 0.5s ease;
    }
  }
}
.papercont {
  .title {
    font-size: 18px;
    font-family: "Dela Gothic One", sans-serif;
    color: #563e79;
    margin-bottom: 10px;
  }
  .text {
    font-weight: 500;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    color: #563e79;
  }
}
