@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #faf5f0;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png");
  background-size: 128px;
  opacity: 0.05;
  background-blend-mode: overlay;
  pointer-events: none;
  z-index: 2;
}
//Hero section
.main {
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 96vh;
  .hero {
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, #f7ede2 0%, rgb(250, 245, 240) 100%);
    border-bottom: 3px solid #ded5ca;
    border-radius: 40px;
    width: 95.5%;
    .herocont {
      max-width: 82%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 6%;
      @keyframes up-and-down {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-16px);
        }
        100% {
          transform: translateY(0);
        }
      }
      .heroright {
        // display: flex;
        justify-content: center;
        .bookcont {
          position: relative;
        }
        .bookimage {
          position: relative;
          width: 91%;
          margin-left: 10%;
          animation: up-and-down 7s infinite;
          z-index: 1;
        }
        .sticker {
          z-index: 0;
          position: absolute;
          filter: drop-shadow(rgba(0, 0, 0, 0.421) 0px 2px 3px);
        }
        .ui {
          top: -2%;
          right: 17%;
          rotate: 15deg;
          width: 127px;
        }
        .ux {
          top: -4%;
          left: 25%;
          rotate: -11deg;
          width: 110px;
        }
        .interaction {
          top: 25%;
          right: 5%;
          rotate: 21deg;
          width: 110px;
        }
        .usertesting {
          bottom: 40%;
          left: 9%;
          rotate: 10deg;
          width: 150px;
        }
        .marketing {
          bottom: 12%;
          left: 20%;
          rotate: -15deg;
          width: 145px;
        }
        .safety {
          bottom: -3%;
          left: 51%;
          rotate: -13deg;
          width: 138px;
        }
        .gamification {
          bottom: 8%;
          right: -2%;
          rotate: 10deg;
          width: 160px;
        }
      }
      .heroleft {
        display: flex;
        flex-direction: column;
        .edition {
          font-family: "Manrope", sans-serif;
          color: rgb(242, 132, 130);
          border: 1px solid rgb(242, 132, 130);
          font-weight: 600;
          border-radius: 20px;
          padding: 4px 2px;
          width: 150px;
          text-align: center;
          letter-spacing: 1px;
          margin-bottom: 4%;
        }
        .designing {
          font-family: "Dela Gothic One", sans-serif;
          color: rgb(65, 40, 103);
          font-size: 41px;
          opacity: 0.89;
          margin-bottom: 4%;
        }
        .deliver {
          font-family: "Manrope", sans-serif;
          color: rgb(65, 40, 103);
          font-size: 22px;
          font-weight: 500;
        }
        .parents {
          font-family: "Manrope", sans-serif;
          color: rgb(65, 40, 103);
          font-size: 22px;
          font-weight: 500;
          margin-bottom: 4%;
        }
        .acomp {
          font-size: 14px;
          font-weight: 500;
          font-family: "Manrope", sans-serif;
          color: rgb(65, 40, 103);
          margin-bottom: 10%;
        }
        .line {
          height: 1.2px;
          background-color: #c0d1cd;
          width: 130px;
          margin-bottom: 5%;
        }
        .buy {
          background-color: rgb(72, 117, 106);
          color: #f7ede2;
          border-radius: 8px;
          width: 200px;
          font-size: 18px;
          font-family: "Dela Gothic One", sans-serif;
          padding: 14px 3px;
        }
      }
    }
  }
}
